body{margin: auto; background-color: #fbc02d}

#container{
	position: relative;
}

#content{
	position: relative;
	z-index: 100;
	color: white;
}

#wrapper{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}

.patternUnit{
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: -10px -10px;
	border-radius: 50%;
	opacity: 1;
}

.contentUnit{
	display: inline-block;
	width: 80px;
	height: 100px;
	margin: -10px -10px;
	border-radius: 25px;
	opacity: 1;
}